*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(0, 0, 0, 0.973);
    /* background: radial-gradient(circle 50% at 0% 0%, rgb(200, 0, 0)) */
    /* background: radial-gradient(circle at 70% 40%, rgba(200,0,0,0.6), transparent 60%), */
    /* radial-gradient(circle at 20% 20%, rgba(200,0,0,0.3), transparent 70%), */
    /* linear-gradient(135deg, #000000, #1a0000, #000000); */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: radial-gradient(circle at top left, rgba(255, 0, 0, 0.904) 40%, rgb(0, 0, 0) 60%);



}



.header{
    /* border: 1px solid red; */
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* margin-left: 10px; */
    padding: 10px;
}
.main-heading{
    /* border: 1px solid green; */
    color: white;
    margin-left: 10px;
    text-transform: uppercase;
}
.nav-items{
    /* border: 1px solid greenyellow; */
    list-style-type: none;
    margin: auto;
}
.nav-item{
    display: inline;
    margin: 0 15px;
}
a{
    text-decoration: none;
    color: white;
}
.btns{
    /* border: 1px solid red; */
    margin: auto 0;
}
.btn{
    padding: 10px;
    border-radius: 20px;
    margin: 0 10px;
}
.btn1{
    background: transparent;
    color: rgba(255, 255, 255, 0.801);
    border: 2px solid rgba(255, 255, 255, 0.801);
}
.btn2{
    background-color: red;
    color: rgba(255, 255, 255, 0.801);
    border: 2px solid rgba(255, 255, 255, 0.801);
}
.hero-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    /* border: 1px solid red; */
    width: 100%;
    height: 90vh

}
.hero-content{
    /* border: 1px solid green; */
    padding: 50px;
    width: 50%;
    height: 50%;
}
.hero-content h2{
    margin: 20px 0;
    font-size: 2rem;
    color: white;
}
.hero-content h1{
    margin: 20px 0;
    font-size: 3rem;
    color: white;
    font-weight: bolder;
}
.hero-content .btns{
    margin: 30px 0;
    
}
.profile{
    width: 400px;
    height: 400px;
    border: 1px solid rgba(255, 0, 0, 0.781);
    border-radius: 50%;
    overflow: hidden;
}
.profile img{
    width: 100%;
    height: 100%;
}
.about-heading{
    text-align: center;
}
.about{
    /* border: 1px solid red; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.about-profile{
    margin-top: 10%;
}
.about-content{
    /* border: 1px solid green; */
    width: 50%;
    height: 30%;
    margin-top: 15%;
}
.content{
    color: white;
    line-height: 20px;
    text-transform: capitalize;
}